/* FUENTES */
@font-face{
  font-family: "TrebuchetMS";
  src: url(fonts/TrebuchetMS.ttf);
  font-weight: normal;    
  font-style: normal;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'TrebuchetMS', sans-serif;
  font-weight: 400;
}
html{
  height: 100%;
}